@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
}

#head {
    background-color: #FFC054;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.5em;
    padding: .8vw;
    padding-left: 2vw;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#docmentation {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* #nav-parent{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    position: fixed;
} */

#navbar {
    font-family: 'Lato', sans-serif;
    width: 20vw;
    position: fixed;
    top: 6vw;
}

#main-doc {
    font-family: 'Lato', sans-serif;
    width: 55vw;
    position: relative;
    top: 8vw;
    z-index: 0;
}

nav li {
    list-style: none;
    height: 2.5vw;
    font-family: 'Lato', sans-serif;
}

nav li a {
    text-decoration: none;
    color: #A7A7A7;
}

#topic {
    font-size: 1.3em;
    margin-bottom: 1.5vw;
    color: #FFC054;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: #FFC054;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:active {
    color: black;
}

#int {
    font-size: 2em;
    margin-bottom: 3vw;
}

.part {
    margin-top: 5vw;
    margin-bottom: 3vw;
    font-size: 2em;
}

.line-break {
    margin-bottom: 2vw;
}

article {
    color: #606060;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

section li {
    list-style: disc;
    margin-left: 1.2vw;
}

code {
    text-align: left;
    line-height: 2;
}

.code{
    background-color: rgb(240, 240, 240);
    margin-top: 2vw;    
    margin-bottom: 2vw;
    padding: .5vw;
    border-radius: 10px;
}

#copy{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    font-size: .7em;
    border-radius: 5px;
    float: right;
}

@media all and (min-width: 1921px){

    #navbar {
        width: 20%;
        top: 8vw;
        left: 20vw;
    }

    nav li {
        height: 2vw;
    }

    #main-doc {
        width: 40%;
        top: 6vw;
        left: 5vw;
    }
    #docmentation {
        justify-content: center;
        position: relative;
    }

    section li {
        margin-left: .8vw;
    }

    article {
        font-size: 1.2em;
        line-height: 2;
    }

    #int {
        font-size: 2.5em;
    }
    
    .part {
        font-size: 2.5em;   
    }

}